<nav class="navbar navbar-expand navbar-dark bgPrimary text-white" *ngIf="user">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" href="#">
      <img src="assets/logonavBar.png" alt="">
    </a>
    <ul class="navbar-nav mr-auto justify-content-center">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Pagina Inicial</a>
        <a class="nav-item nav-link" routerLink="/presencas" routerLinkActive="active" *ngIf="user.tipoUsuario == tipoAluno">Presenças</a>
        <a class="nav-item nav-link" routerLink="/aulas" routerLinkActive="active" *ngIf="user.tipoUsuario == tipoProf">Aulas</a>
        <a class="nav-item nav-link" routerLink="/professores" routerLinkActive="active" *ngIf="user.tipoUsuario == tipoAdm">Professores</a>
        <a class="nav-item nav-link" routerLink="/alunos" routerLinkActive="active" *ngIf="user.tipoUsuario == tipoAdm">Alunos</a>
    </ul>
      <a class="nav-item nav-link" (click)="logout()">Sair</a>
  </div>
</nav>
