<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active" *ngIf="user.tipoUsuario == tipoAluno">Presencas</a>
      <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active" *ngIf="user.tipoUsuario == tipoProf || tipoAdm">Aulas</a>
      <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active" *ngIf="user.tipoUsuario == tipoAdm">Professores</a>
      <a class="nav-item nav-link" routerLink="/alunos" routerLinkActive="active" *ngIf="user.tipoUsuario == tipoAdm">Alunos</a>
      <a class="nav-item nav-link" (click)="logout()">Sair</a>
  </div>
</nav>