<div class="p-4">
    <div class="container">
        <h1>Aulas</h1>

        <div class="form-group row">
            <div class="col-sm-5">
                <input [(ngModel)]="filter" class="form-control" placeholder="Insira o nome da materia, curso ou data">
            </div>
        </div>

        <div style="display: flex;justify-content: end;">
            <a routerLink="/alunos/cadastro" class="btn btn-sm btn-success mb-2">Nova Aula</a>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="theadColor">
                    <tr>
                        <th style="width: 30%">Curso</th>
                        <th style="width: 30%">Materia</th>
                        <th style="width: 30%">Inicio</th>
                        <th style="width: 30%">Fim</th>
                        <th style="width: 30%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="openModal(aula)" data-bs-toggle="modal" data-bs-target="#modalAula" class="trPrincipal"
                        *ngFor="let aula of aulasFiltered">
                        <td>{{aula.curso}}</td>
                        <td>{{aula.materia}}</td>
                        <td>{{aula.inicio | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{aula.fim | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td style="white-space: nowrap">
                            <button (click)="openModal(aula)" type="button" class="btn btn-primary"
                                data-bs-toggle="modal" data-bs-target="#modalAula">
                                Visualizar
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="!aulasFiltered && !notFound">
                        <td colspan="4" class="text-center">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </td>
                    </tr>
                    <tr *ngIf="notFound">
                        <td colspan="4" class="text-center">
                            <span class="align-center">Sem aulas cadastrados</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalAula" tabindex="-1" aria-labelledby="modalAulaLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAulaLabel">Alunos Presentes:</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" *ngIf="aulaModal">
                        <div *ngFor="let alunos of aulaModal.presencas">
                            <p>Nome: {{alunos.nomeAluno}}</p>
                        </div>

                        <p *ngIf="aulaModal.presencas.length == 0">sem alunos presentes</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!carregado" class="text-center">
            <span class="spinner-border spinner-border-lg align-center"></span>
            <p>Carregando...</p>
        </div>

    </div>
</div>