<section class="text-center">
    <div class="p-5 bg-image" style="
          background-image: url('assets/background.png');
          height: 300px;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          "></div>

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Cadastro</h2>
                    <form [formGroup]="form" (ngSubmit)="registrar()">
                        <!-- 2 column grid layout -->
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label for="nome">Nome</label>
                                    <input type="text" formControlName="nome" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && formulario.nome.errors }"
                                        placeholder="Insira seu nome" />
                                    <div *ngIf="submitted && formulario.nome.errors" class="invalid-feedback">
                                        <div *ngIf="formulario.nome.errors.required">Nome é obrigatório</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label for="sobrenome">Sobrenome</label>
                                    <input type="text" formControlName="sobrenome" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && formulario.sobrenome.errors }"
                                        placeholder="Insira seu sobrenome" />
                                    <div *ngIf="submitted && formulario.sobrenome.errors" class="invalid-feedback">
                                        <div *ngIf="formulario.sobrenome.errors.required">Sobrenome é obrigatório</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label for="rgm">RGM</label>
                                    <input type="text" formControlName="rgm" class="form-control" [ngClass]="{ 'is-invalid': submitted && formulario.rgm.errors }" placeholder="Insira seu RGM" maxlength="8"/>
                                    <div *ngIf="submitted && formulario.rgm.errors" class="invalid-feedback">
                                        <div *ngIf="formulario.rgm.errors.required">RGM é obrigatório</div>
                                        <div *ngIf="formulario.rgm.errors.minlength">RGM precisa ter ao menos 8 caracteres</div>
                                        <div *ngIf="formulario.rgm.errors.maxlength">RGM precisa ter no maximo 8 caracteres</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 mb-4">
                                <label for="cpf">CPF</label>
                                <input type="text" formControlName="cpf" class="form-control" [ngClass]="{ 'is-invalid': submitted && formulario.cpf.errors }" placeholder="Insira seu CPF" maxlength="11"/>
                                <div *ngIf="submitted && formulario.cpf.errors" class="invalid-feedback">
                                    <div *ngIf="formulario.cpf.errors.required">CPF é obrigatório</div>
                                    <div *ngIf="formulario.cpf.errors.minlength">CPF precisa ter ao menos 11 caracteres</div>
                                    <div *ngIf="formulario.cpf.errors.maxlength">CPF precisa ter no maximo 11 caracteres</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label for="email">Email</label>
                                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && formulario.email.errors }" placeholder="Insira seu email"/>
                                    <div *ngIf="submitted && formulario.email.errors" class="invalid-feedback">
                                        <div *ngIf="formulario.email.errors.required">Email é obrigatório</div>
                                        <div *ngIf="formulario.email.errors.email">Email é obrigatório</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 mb-4">
                                <label for="senha">Senha</label>
                                <input type="senha" formControlName="senha" class="form-control" [ngClass]="{ 'is-invalid': submitted && formulario.senha.errors }"  placeholder="Insira sua senha"/>
                                <div *ngIf="submitted && formulario.senha.errors" class="invalid-feedback">
                                    <div *ngIf="formulario.senha.errors.required">Senha é obrigatório</div>
                                    <div *ngIf="formulario.senha.errors.minlength">Senha precisa ter ao menos 6 caracteres</div>
                                </div>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button [disabled]="loading" type="submit" class="btn btn-primary btn-block mb-4">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Cadastre-se
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>