<section class="h-100 h-custom overflow-auto bgsection">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <form [formGroup]="form" (ngSubmit)="registrar()">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-center">
                                            <div style="width: 200px;" class="d-flex justify-content-center">
                                                <img class="mb-5" style="width: 100%;" src="assets/logo.png">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 pb-2">

                                                <div class="form-outline">
                                                    <label for="nome">Nome</label>
                                                    <input type="text" formControlName="nome" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && formulario['nome'].errors }"
                                                        placeholder="Insira seu nome" />
                                                    <div *ngIf="submitted && formulario['nome'].errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="formulario['nome'].errors['required']">Nome é
                                                            obrigatório
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6 pb-2">

                                                <div class="form-outline">
                                                    <label for="sobrenome">Sobrenome</label>
                                                    <input type="text" formControlName="sobrenome" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && formulario['sobrenome'].errors }"
                                                        placeholder="Insira seu sobrenome" />
                                                    <div *ngIf="submitted && formulario['sobrenome'].errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="formulario['sobrenome'].errors['required']">
                                                            Sobrenome é
                                                            obrigatório</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="pb-2">
                                            <div class="form-outline">
                                                <label for="cpf">CPF</label>
                                                <input type="text" formControlName="cpf" class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && formulario.cpf.errors }"
                                                    placeholder="Insira seu CPF" maxlength="11" />
                                                <div *ngIf="submitted && formulario.cpf.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="formulario.cpf.errors.required">CPF é obrigatório</div>
                                                    <div *ngIf="formulario.cpf.errors.minlength">CPF precisa ter ao
                                                        menos 11 caracteres</div>
                                                    <div *ngIf="formulario.cpf.errors.maxlength">CPF precisa ter no
                                                        maximo 11 caracteres</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pb-2">
                                            <div class="form-outline">
                                                <label for="email">Email</label>
                                                <input type="text" formControlName="email" class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && formulario['email'].errors }"
                                                    placeholder="Insira seu email" />
                                                <div *ngIf="submitted && formulario['email'].errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="formulario['email'].errors['required']">Email é
                                                        obrigatório </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class=" pb-2">
                                            <div class="form-outline">
                                                <label for="senha">Senha</label>
                                                <input type="password" formControlName="senha" class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && formulario['senha'].errors }"
                                                    placeholder="Insira sua senha" />
                                                <div *ngIf="submitted && formulario['senha'].errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="formulario['senha'].errors['required']">Senha é
                                                        obrigatório
                                                    </div>
                                                    <div *ngIf="formulario['senha'].errors['minlength']">Senha precisa
                                                        ter ao
                                                        menos 6
                                                        caracteres</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 bg-indigo clText">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5">Informações sobre sua matricula</h3>

                                        <div class="pb-2">
                                            <div class="form-outline form-white">
                                                <label for="rgm">RGM</label>
                                                <input type="text" formControlName="rgm" class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && formulario['rgm'].errors }"
                                                    placeholder="Insira seu RGM" maxlength="8" />
                                                <div *ngIf="submitted && formulario['rgm'].errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="formulario['rgm'].errors['required']">RGM é obrigatório
                                                    </div>
                                                    <div *ngIf="formulario['rgm'].errors['minlength']">RGM precisa ter
                                                        ao
                                                        menos 8
                                                        caracteres</div>
                                                    <div *ngIf="formulario['rgm'].errors['maxlength']">RGM precisa ter
                                                        no
                                                        maximo 8
                                                        caracteres</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pb-2">
                                            <label for="curso">Curso</label>
                                            <select formControlName="curso"
                                                [ngClass]="{ 'is-invalid': submitted && formulario['curso'].errors }"
                                                class="form-select" required>
                                                <option selected disabled value="">Selecione seu curso</option>
                                                <option *ngFor="let curso of cursos" [ngValue]="curso">
                                                    {{curso.nome}}
                                                </option>
                                            </select>

                                            <div *ngIf="submitted && formulario['curso'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="formulario['curso'].errors['required']">Curso é obrigatório
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pb-2">
                                            <label for="semestre">Semestre</label>
                                            <select formControlName="semestre"
                                                [ngClass]="{ 'is-invalid': submitted && formulario['semestre'].errors }"
                                                class="form-select" required>
                                                <option selected disabled value="">Selecione seu semestre</option>
                                                <option *ngFor="let semestre of valuesSemestres" [ngValue]="semestre">
                                                    {{semestre}}° Semestre
                                                </option>
                                            </select>

                                            <div *ngIf="submitted && formulario['semestre'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="formulario['semestre'].errors['required']">Semestre é
                                                    obrigatório
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-5 pb-2">
                                            <label for="turno">Periodo</label>
                                            <select formControlName="periodo"
                                                [ngClass]="{ 'is-invalid': submitted && formulario['periodo'].errors }"
                                                class="form-select" required>
                                                <option selected disabled value="">Selecione seu turno</option>
                                                <option *ngFor="let periodo of valuesPeriodos" [ngValue]="periodo">
                                                    {{periodo}}
                                                </option>
                                            </select>

                                            <div *ngIf="submitted && formulario['periodo'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="formulario['periodo'].errors['required']">Periodo é
                                                    obrigatório
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row d-flex justify-content-center">
                                            <div class="col-md-4 mb-1">
                                                <button [disabled]="loading" type="submit" class="btn btn-block mb-3"
                                                    style="color: #fff; background-color: #01376d;">
                                                    <span *ngIf="loading"
                                                        class="spinner-border spinner-border-sm mr-1"></span>
                                                    Cadastre-se
                                                </button>
                                            </div>
                                            <div class="col-md-4 mb-1">
                                                <a routerLink="../login" class="btn btn-block mb-3"
                                                    style="color: #fff; background-color: #01376d;">Voltar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>