<section class="h-100 h-custom" style="background-color: #01376d;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <form [formGroup]="form" (ngSubmit)="registrar()">
              <div class="row g-0">

                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="d-flex justify-content-center">
                        <div style="width: 200px;" class="d-flex justify-content-center">
                          <img class="mb-5" style="width: 100%;" src="assets/logo.png">
                        </div>
                      </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                            <label for="nome">Nome</label>
                            <input type="text" formControlName="nome" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && formulario.nome.errors }"
                                placeholder="Insira seu nome" />
                            <div *ngIf="submitted && formulario.nome.errors" class="invalid-feedback">
                                <div *ngIf="formulario.nome.errors.required">Nome é obrigatório</div>
                            </div>
                        </div>
  
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                            <label for="sobrenome">Sobrenome</label>
                            <input type="text" formControlName="sobrenome" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && formulario.sobrenome.errors }"
                                placeholder="Insira seu sobrenome" />
                            <div *ngIf="submitted && formulario.sobrenome.errors" class="invalid-feedback">
                                <div *ngIf="formulario.sobrenome.errors.required">Sobrenome é obrigatório</div>
                            </div>
                        </div>
  
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <label for="email">Email</label>
                        <input type="text" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && formulario.email.errors }"
                            placeholder="Insira seu email" />
                        <div *ngIf="submitted && formulario.email.errors" class="invalid-feedback">
                            <div *ngIf="formulario.email.errors.required">Email é obrigatório</div>
                            <div *ngIf="formulario.email.errors.email">Email é obrigatório</div>
                        </div>
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label for="senha">Senha</label>
                            <input type="senha" formControlName="senha" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && formulario.senha.errors }"
                                placeholder="Insira sua senha" />
                            <div *ngIf="submitted && formulario.senha.errors" class="invalid-feedback">
                                <div *ngIf="formulario.senha.errors.required">Senha é obrigatório</div>
                                <div *ngIf="formulario.senha.errors.minlength">Senha precisa ter ao menos 6
                                    caracteres</div>
                            </div>
                        </div>
                      </div>
  
                  </div>
                </div>
                <div class="col-lg-6 bg-indigo text-white" style="background-color: #027d68;">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Informações</h3>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <label for="rgm">RGM</label>
                        <input type="text" formControlName="rgm" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && formulario.rgm.errors }"
                            placeholder="Insira seu RGM" maxlength="8" />
                        <div *ngIf="submitted && formulario.rgm.errors" class="invalid-feedback">
                            <div *ngIf="formulario.rgm.errors.required">RGM é obrigatório</div>
                            <div *ngIf="formulario.rgm.errors.minlength">RGM precisa ter ao menos 8
                                caracteres</div>
                            <div *ngIf="formulario.rgm.errors.maxlength">RGM precisa ter no maximo 8
                                caracteres</div>
                        </div>
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                        <label for="semestre">Semestre</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Selecione seu semestre</option>
                            <option value="1">1°Semestre</option>
                            <option value="2">2°Semestre</option>
                            <option value="3">3°Semestre</option>
                            <option value="1">4°Semestre</option>
                            <option value="2">5°Semestre</option>
                            <option value="3">6°Semestre</option>
                            <option value="1">7°Semestre</option>
                            <option value="2">8°Semestre</option>
                          </select>
                    </div>
  
                    <div class="mb-4 pb-2">
                        <label for="turno">Turno</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Selecione seu turno</option>
                            <option value="1">Manhã</option>
                            <option value="2">Tarde</option>
                            <option value="3">Noite</option>
                          </select>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-4 mb-1">
                            <button [disabled]="loading" type="submit" class="btn btn-primary btn-block mb-3" style="background-color: #01376d;">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Cadastre-se
                            </button>
                        </div>
                        <div class="col-md-4 mb-1">
                            <a routerLink="../login" class="btn btn-primary btn-block mb-3" style="color: #fff; background-color: #01376d;">Voltar</a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>