:host zxing-scanner ::ng-deep video{
    /* height: 8rem;
    width: 100%; */
    object-fit: contain;
  }
  
  video {
    /* height: 8rem !important; */
  }


  .imageCentraliza {
    display: flex;
    justify-content: center;
    align-items: center;
  }