<div class="p-4">
    <div class="container">
        <h1>olá {{user.nome}}!</h1>
        <p>perfil: {{user.tipoUsuario | trataTipoUser}}</p>
        <div *ngIf="isProfessor">
            <h3>Iniciar Aula</h3>

            <form [formGroup]="form" (ngSubmit)="criarAula()">
                <div class="form-group">
                    <label for="dateFim">Horário Fim</label>
                    <input type="time" formControlName="dateFim" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && formulario['dateFim'].errors }"
                        placeholder="Insira a hora do final da aula" />
                    <div *ngIf="submitted && formulario['dateFim'].errors" class="invalid-feedback">
                        <div *ngIf="formulario['dateFim'].errors['required']">Hora Fim é obrigatório</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="curso">Curso</label>
                    <select (change)="PreencherMaterias($event)" formControlName="curso"
                        [ngClass]="{ 'is-invalid': submitted && formulario['curso'].errors }" class="form-select"
                        required>
                        <option selected disabled value="">Selecione o curso</option>
                        <option *ngFor="let curso of user.curso" [ngValue]="curso.id">
                            {{curso.nome}}
                        </option>
                    </select>

                    <div *ngIf="submitted && formulario['curso'].errors" class="invalid-feedback">
                        <div *ngIf="formulario['curso'].errors['required']">Curso é obrigatório</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="materia">Materia</label>
                    <select formControlName="materia"
                        [ngClass]="{ 'is-invalid': submitted && formulario['materia'].errors }" class="form-select"
                        required>
                        <option selected disabled value="">Selecione a materia</option>
                        <option *ngFor="let materia of materias" [ngValue]="materia.id">
                            {{materia.nome}}
                        </option>
                    </select>

                    <div *ngIf="submitted && formulario['materia'].errors" class="invalid-feedback">
                        <div *ngIf="formulario['materia'].errors['required']">Materia é obrigatório</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" type="submit" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Gerar QR Code
                    </button>
                </div>
            </form>

            <qrcode [qrdata]="'Your data string'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>

        <div *ngIf="isAluno">
            <div *ngIf="availableDevices">
                <select (change)="onDeviceSelectChange($event)">
                    <option value="" [selected]="!selectedDevice">No Device</option>
                    <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="selectedDevice && device.deviceId === selectedDevice.deviceId">{{ device.label }}</option>
                </select>
            </div>
            
            <div *ngIf="!hasCameras">          
                <zxing-scanner [formats]="availableFormats" #scanner class="test-class" start="true"  (scanSuccess)="handleQrCodeResult($event)" cssClass="small-video"></zxing-scanner>
            
                <h2 *ngIf="!this.selectedDevice">No camera selected.</h2>
        
                <p>
                    Result:
                    <strong>{{ qrResultString }}</strong>
                </p>
            </div>
            
            <div *ngIf="!hasCameras && hasPermission === true">
                <h1>Looks like your actual device does not have cameras, or I could no find'em. </h1>
            </div>
            
            <div *ngIf="hasPermission === undefined">
                <h1>Esperando por permissao</h1>
            
                <blockquote>
                    <h2>Se o dispositivo nao tiver cameras, nenhuma permissao sera solicitada.</h2>
                </blockquote>
            </div>
            
            <div *ngIf="hasPermission === false">        
                <h1>Voce recusou a permissao da camera, nao podemos scanear sem a permissao. 😪</h1>
            </div>
        </div>
    </div>
</div>